/* @media only screen and (max-device-width: 800px) and (orientation: landscape) {
  .chartWrapper {
    position: relative;
  }
  .chartWrapper img {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
  }
} */

body {
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.App-header {
  color: whitesmoke;
  text-shadow: 6px 4px 4px black;
  font-size: calc(10px + 2vmin);
}
.mainContent {
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding-top: 3vh;
}
.selection {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  user-select: none;
  outline: none;
}

input:focus {
  outline: none;
}