.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  color: white;
  font-size: calc(10px + 2vmin);
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  height: 10vw;
  width: 80vw;
}