.chartWrapper {
	display: flex;
	flex-direction: column;
	--primary-color: red;
}

.row {
	display: flex;
	flex-direction: row;
}

.cell {
	border: 1px solid black;
	background-image: linear-gradient(#00faff, #00a8ab);
}

.cell-half {
	width: 20px;
}

.cell-whole {
	width: 40px;
}