.chartWrapper {
	--primary-color: red;
	position: relative;
	display: inline-block;
	width: 80vw;
	background-color: pink;
}

.overlayImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left:	0;
	width: 100%;
}