.keyWrapper {
	background-color: red;
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

input {
	position: absolute;
  left: -1000px;
}

label.keyLabel {
	display: inline-block;
	height: 100%;
	width: 100%;
}

input:checked + label.keyLabel {
	background: black;
	color: whitesmoke;
}
