
.keyWrapper {
	margin-left: .2em;
	margin-right: .2em;
	height: 30px;
	min-width: 40px;

}
label.keyLabel {
	display: inline-block;
	height: 100%;
	width: 100%;
}
input:checked + label.keyLabel {
	background: red;
	color: whitesmoke;
	border-radius: 25px;
}
input {
	position: absolute;
  left: -1000px;
}
