.keyContainerWrapper {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	width: 80%;
	justify-content: center;
}
.sharpFlatContainer {
	display: flex;
	flex-direction: row;
}
@media only screen and (min-device-width: 878px) {
	.sharpFlatContainer {
		flex-direction: column;
	}
}